@model IEnumerable<ShoPTN.Models.DanhMucCon>

@{
    ViewData["Title"] = "Quản lý danh mục con";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card border border-primary">
    <h5 class="card-header bg-primary text-white">@ViewData["Title"]</h5>
    <div class="card-body">
        <p>
            <a asp-action="Create" class="btn bg-primary text-white">Tạo mới</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.TenDanhMuc)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TinhTrang)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ChuThich)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IdDanhMucSanPhamNavigation)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TenDanhMuc)
                        </td>
                        <td>
                            @if (item.TinhTrang == 1)
                            {
                                <span class="badge badge-primary">Ẩn</span>
                            }
                            else
                            {
                                <!--1 ẩn 2 hiện-->
                                <span class="badge badge-primary">Hiện</span>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ChuThich)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdDanhMucSanPhamNavigation.TenDanhMuc)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.CatelogyChild">Sửa</a> |
                            <a asp-action="Delete" asp-route-id="@item.CatelogyChild">Xóa</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
