@model IEnumerable<ShoPTN.Models.HangSx>

@{
    ViewData["Title"] = "Quản lý hãng sản xuất";
}

<div class="card">
    <h5 class="card-header bg-primary text-white">@ViewData["Title"]</h5>
    <div class="card-body">
        <p>
            <a asp-action="Create" class="btn btn-primary" >Thêm mới</a>
        </p>
        <table class="table table-bordered text-center">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.TenHang)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ChuThich)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TinhTrang)
                    </th>
                    <th width="150"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TenHang)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ChuThich)
                        </td>
                        <td>
                            @if (item.TinhTrang == 1)
                            {
                                <span class="badge badge-danger" style="font-size:15px">Ẩn</span>
                            }
                            else
                            {
                                <span class="badge badge-primary" style="font-size:15px">Hiện</span>
                            }
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info">Sửa</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Xóa</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

