@model IEnumerable<ShoPTN.Models.TinhTrang>

@{
    ViewData["Title"] = "Quản lý tình trạng";
}

<div class="card border border-primary">
    <h5 class="card-header bg-primary text-white">@ViewData["Title"]</h5>
    <div class="card-body">
        <p>
            <a asp-action="Create" class="btn btn-primary">Tạo mới</a>
        </p>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.TenTt)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ChuTich)
                    </th>
                    <th width="150"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TenTt)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ChuTich)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.MaTt" class="btn btn-info">Sửa</a> |
                            <a asp-action="Delete" asp-route-id="@item.MaTt"  class="btn btn-danger">Xóa</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
      </div>
</div>