@model IEnumerable<ShoPTN.Models.SanPham>
@{
    ViewData["Title"] = "Trang chủ";
    var info = ViewBag.product_hightlight;
    var product_hightlight = Model.Where(m => m.ProductHighlights == 1 /*&& m.OutOfSock!= 1*/).ToList();// take la2 so luong dong muon lay
    var product_new = Model.Where(m => m.ProductNew == 1).ToList();
    var category = (List<DanhMucSanPham>)ViewBag.Category;
}
<div class="card mt-5 border border-dark">
    <h5 class="card-header col-2 bg-danger text-white text-center shadow">Danh mục sản phẩm</h5>
    <div class="card-body">
        <div class="row">
            @foreach (var item in category)
            {
                <div class="col-2 mt-1 mb-3 text-center" style="font-weight:bold">
                    <a asp-controller="Home" asp-action="SearchDanhMuc" asp-route-id="@item.IdDanhMuc">@item.TenDanhMuc</a>
                </div>
            }
        </div>
    </div>
</div>


<div class="card border border-primary mt-3 shadow">
    <h5 class="card-header bg-primary text-white text-center" style="font-size:20px;font-weight:bold;">SẢN PHẨM MỚI</h5>
    <div class="card-body">
        <div class="row">
            @if (product_new.Count == 0)
            {
                <span class="text-white badge badge-danger m-auto" style="font-size:18px;">Hiện tại không có sản phẩm</span>
            }
            else
            {
                @foreach (var item in product_new.OrderByDescending(m => m.GiaBan).Take(4))
                {
                    <!--col-md-3 mỗi card chửa 3 cột-->
                    <div class="card col-md-3 border border-0">
                        <a asp-controller="Details" asp-action="ChiTiet" asp-route-id="@item.IdProduct">
                            <img class="card-img-top" src="~/@item.FolderName.Replace("wwwroot/","")/@item.HinhAnh" alt="@item.TenSanPham" width="300" height="300">
                         </a>
                        <div class="card-body">
                            <a asp-controller="Details" asp-action="ChiTiet" asp-route-id="@item.IdProduct" style="font-size:15px">@item.TenSanPham</a>
                            @if (item.GiaKhuyenMai == 0)
                            {
                                <p><span class="badge badge-primary text-white" style="font-size:20px">@item.GiaBan.ToString("N0")đ</span></p>
                            }
                            else
                            {
                                <p class="mr-auto">
                                    <span class="badge badge-primary text-white" style="font-size:20px">
                                        @item.GiaBan.ToString("N0")đ
                                        <span><strike class="text-white" style="font-size:15px">@item.GiaKhuyenMai.Value.ToString("N0")đ</strike></span>
                                    </span>
                                </p>
                            }

                            <p class="card-text badge badge-success mt-2" style="font-size:15px;">@item.HangSx.TenHang</p>
                            @if (item.OutOfSock == 1)
                            {
                                <p class="card-text badge badge-danger mt-2" style="font-size:15px;">Hết hàng</p>
                            }
                            else if (item.OutOfSock == 2)
                            {
                                <p class="badge badge-primary mt-2" style="font-size:15px;">Còn hàng</p>
                            }
                            else
                            {
                                <p class="badge badge-warning mt-2" style="font-size:15px;">Sắp về</p>
                            }

                            <hr />
                            <div class="row ml-2">
                                <form asp-action="AddToCart" asp-controller="Cart">
                                    <input type="hidden" value="@item.IdProduct" name="id" />
                                    <input type="hidden" value="0" name="quanlity" />
                                    <button type="submit" value="Mua hàng" class="btn btn-danger">Đặt hàng <i class="fa fa-cart-plus text-white"></i></button>
                                </form>
                                <!-- nếu dùng form thì asp-route-id phải để cùng cấp với form còn a  thì để trong thẻ a-->
                                <a asp-controller="Details" asp-action="ChiTiet" asp-route-id="@item.IdProduct" style="font-size:15px" class="btn btn-primary ml-2">Chi tiết <i class="fa fa-info text-white"></i></a>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>


<div class="card border border-info mt-3 shadow">
    <h5 class="card-header bg-info text-white text-center" style="font-size:20px;font-weight:bold;">SẢN PHẨM NỔI BẬT</h5>
    <div class="card-body">
        <div class="row">
            @if (product_hightlight.Count == 0)
            {
                <span class="text-white badge badge-info m-auto" style="font-size: 18px;">Hiện tại không có sản phẩm</span>
            }
            else
            {
                @foreach (var item in product_hightlight.OrderByDescending(m => m.GiaBan).Take(4))// sắp xếp giảm dần và lấy 4 sản ph
                {
                    <!--col-md-3 mỗi card chửa 3 cột-->
                    <div class="card col-md-3 border border-0">
                        <a asp-controller="Details" asp-action="ChiTiet" asp-route-id="@item.IdProduct">
                            <img class="card-img-top" src="~/@item.FolderName.Replace("wwwroot/","")/@item.HinhAnh" alt="@item.TenSanPham" width="300" height="300" />
                        </a>
                            <div class="card-body">
                                <a asp-controller="Details" asp-action="ChiTiet" asp-route-id="@item.IdProduct" style="font-size:15px">@item.TenSanPham</a>
                                @if (item.GiaKhuyenMai == 0)
                                {
                                    <p><span class="badge badge-info text-white shadow" style="font-size:20px">@item.GiaBan.ToString("N0")đ</span></p>
                                }
                                else
                                {
                                    <p class="mr-auto">
                                        <span class="badge badge-info text-white shadow" style="font-size:20px">
                                            @item.GiaBan.ToString("N0")đ
                                            <span><strike class="text-white" style="font-size:15px">@item.GiaKhuyenMai.Value.ToString("N0")đ</strike></span>
                                        </span>
                                    </p>
                                }

                                <p class="card-text badge badge-success mt-2" style="font-size:15px;">@item.HangSx.TenHang</p>
                                @if (item.OutOfSock == 1)
                                {
                                    <p class="card-text badge badge-danger mt-2" style="font-size:15px;">Hết hàng</p>
                                }
                                else if (item.OutOfSock == 2)
                                {
                                    <p class="badge badge-primary mt-2" style="font-size:15px;">Còn hàng</p>
                                }
                                else
                                {
                                    <p class="badge badge-outline-warning mt-2" style="font-size:15px;">Sắp về</p>
                                }

                                <!-- trạng thái còn hàng hết hàng-->
                                <!--một máy có thể có nhiều cấu hình nên một máy có nhiều tập hợp thông tin cấu hình-->
                                <hr />
                                <div class="row ml-2">
                                    <form asp-action="AddToCart" asp-controller="Cart">
                                        <input type="hidden" value="@item.IdProduct" name="id" />
                                        <input type="hidden" value="0" name="quanlity" />
                                        <button type="submit" value="Mua hàng" class="btn btn-danger">Đặt hàng <i class="fa fa-cart-plus text-white"></i></button>
                                    </form>
                                    <a asp-controller="Details" asp-action="ChiTiet" asp-route-id="@item.IdProduct" style="font-size:15px" class="btn btn-primary ml-2">Chi tiết <i class="fa fa-info text-white"></i></a>
                                </div>
                            </div>
                        </div>
                }
            }
        </div>
    </div>
</div>
<!-- customer -->
<div class="customer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Customer Review</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="myCarousel" class="carousel slide customer_Carousel " data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="container">
                                <div class="carousel-caption ">
                                    <div class="row">
                                        <div class="col-md-9 offset-md-3">
                                            <div class="test_box">
                                                <i><img src="~/cla-master/images/cos.png" alt="#" /></i>
                                                <h4>Sandy Miller</h4>
                                                <p>ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container">
                                <div class="carousel-caption">
                                    <div class="row">
                                        <div class="col-md-9 offset-md-3">
                                            <div class="test_box">
                                                <i><img src="~/cla-master/images/cos.png" alt="#" /></i>
                                                <h4>Sandy Miller</h4>
                                                <p>ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container">
                                <div class="carousel-caption">
                                    <div class="row">
                                        <div class="col-md-9 offset-md-3">
                                            <div class="test_box">
                                                <i><img src="~/cla-master/images/cos.png" alt="#" /></i>
                                                <h4>Sandy Miller</h4>
                                                <p>ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end customer -->
<!--  contact -->
<div class="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Contact Now</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <form id="request" class="main_form">
                    <div class="row">
                        <div class="col-md-12 ">
                            <input class="contactus" placeholder="Name" type="text" name="Name">
                        </div>
                        <div class="col-md-12">
                            <input class="contactus" placeholder="Email" type="text" name="Email">
                        </div>
                        <div class="col-md-12">
                            <input class="contactus" placeholder="Phone Number" type="text" name="Phone Number">
                        </div>
                        <div class="col-md-12">
                            <textarea class="textarea" placeholder="Message" type="text" Message="Name">Message </textarea>
                        </div>
                        <div class="col-md-12">
                            <button class="send_btn">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- end contact -->
<div class="laptop">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="titlepage">
                    <p>Every Computer and laptop</p>
                    <h2>Up to 40% off !</h2>
                    <a class="read_more" href="#">Shop Now</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="laptop_box">
                    <figure><img src="~/cla-master/images/pc.png" alt="#" /></figure>
                </div>
            </div>
        </div>
    </div>
</div>