@model IEnumerable<ShoPTN.Models.DatHangChiTiet>
@{
    ViewBag.Title = "Đơn chi tiết";
    // danh sách Thongtinkythuat
}

<div class="card mt-3 shadow border border-info">
    <h5 class="card-header bg-info text-white text-center font-weight-bold mt-3">@ViewBag.Title</h5>
    <div class="card-body">
        <div class="card-deck">
            @foreach (var item in Model)
            {
                // truy xuất giữa các bảng
                <div class="col-12">
                    <div class="row mt-3">
                        <img src="~/@item.LapTop.FolderName.Replace("wwwroot/","")/@item.LapTop.HinhAnh" alt="@item.LapTop.TenSanPham" width="300" height="300" class="col-4">
                        <div class="card-body col-7">
                            <h5 class="font-weight-light">Mã Đặt hàng: @item.DatHangId</h5>
                            <hr />
                            <h5>Thông tin hóa đơn</h5>
                            <hr />
                            <h5>Tên sản phẩm: <b style="font-weight:bold;">@item.LapTop.TenSanPham</b></h5>
                            <h5 class="font-weight-light text-dark">Đơn giá: <b style="font-weight:bold">@item.DonGia.Value.ToString("N0")đ</b></h5>
                            <h5 class="font-weight-light text-dark">Số lượng: <b style="font-weight:bold">@item.SoLuong</b></h5>
                            <hr />
                            <h5 class="font-weight-lighter text-right text-dark">Thành tiền: <b>@item.ThanhTien.Value.ToString("N0")đ</b></h5>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
