@model IEnumerable<ShoPTN.Models.ImagesProduct>

@{
    ViewData["Title"] = "Index";
}

<div class="card border border-primary">
    <h5 class="card-header bg-primary text-white">@ViewData["Title"]</h5>
    <div class="card-body">
        <p>
            <a asp-action="Create" class="btn btn-primary">Tạo mới</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.IdProductNavigation)
                    </th>
                    <th width="150"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdProductNavigation.TenSanPham)
                        </td>
                        <td>
                            <img src="~/@item.Folder.Replace("wwwroot/","")//@item.HinhAnh" width="100" />
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.IdImages" class="btn btn-info">Sửa</a> |
                            <a asp-action="Delete" asp-route-id="@item.IdImages" class="btn btn-warning">Xóa</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>