@model IEnumerable<ShoPTN.Models.DatHangChiTiet>

@{
    ViewData["Title"] = "Quản lý đặt hàng chi tiết";
}

<div class="card border border-primary">
    <h5 class="card-header bg-primary text-white">@ViewData["Title"]</h5>
    <div class="card-body">
        <p>
            <a asp-action="Create" class="btn btn-primary">Tạo mới</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.SoLuong)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DonGia)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DatHang)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LapTop)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ThanhTien)
                    </th>
                    <th width="150"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SoLuong)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DonGia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DatHang.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LapTop.TenSanPham)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ThanhTien)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info">Sửa</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-warning">Xóa</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>